@import '~@angular/material/theming';

@include mat-core(); //THIS CAN ONLY BE INCLUDED ONCE APPLICATION-WIDE

$app-primary: mat-palette($mat-deep-purple);
$app-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@mixin app-theme($lite, $dark) {
  $accent: map-get($lite, accent);
  $background: map-get($lite, background);
  $foreground: map-get($lite, foreground);
  @include angular-material-theme($lite);

  &.dark-theme {
    $dark-accent: map-get($dark, accent);
    $dark-background: map-get($dark, background);
    $dark-foreground: map-get($dark, foreground);

    @include angular-material-theme($dark);

    background-color: mat-color($dark-background, background);
    color: mat-color($dark-foreground, text)

  }
}

@mixin mob-core($lite, $dark) {
  $accent: map-get($dark, accent);
  $background: map-get($dark, background);
  $foreground: map-get($dark, foreground);
  $lite-foreground: map-get($lite, foreground);

  .currentPerson {
    background-color: mat-color($accent, 500);
    .dark-theme & {
      color: mat-color($lite-foreground, text);
    }
  }
}

@include app-theme($theme, $dark-theme);
@include mob-core($theme, $dark-theme);
