.page-content {
  padding: 2rem;
}

li {
  margin-bottom: .25rem;
}
ul.list-of-people {
  width: 450px;
  list-style: none;
  padding-left: 0;

  .name-column {
    width: 8rem;
    height: 2.5rem;
  }
}
.form-control {
  width: 50px;
}
input {
  text-align: center;
}

