.page-content {
  padding: 1rem;
  width: 375px;
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  .minute-input {
    width: 50px;
  }
  :last-child {
    text-align: right;
  }
}
ul.list-of-people {
  padding-left: 0;
}

li {
  display: grid;
  width: 100%;
  align-items: center;
  padding-left: .25rem;
  margin-bottom: .25rem;
  grid-template-columns: 110px 1fr 1fr 2fr 1fr;
  grid-template-areas: "name play-button timer restart delete";

  .name {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-area: name;
    //cursor: pointer;
    ::ng-deep.mat-form-field-infix {
      border-top-width: .2rem;
    }
    .name-field {
      height: 40px;
    }
  }
  .play-button {
    grid-area: play-button;
  }
  .timer {
    grid-area: timer;
  }
  .restart {
    grid-area: restart;
  }
  .delete {
    grid-area: delete;
  }
  .clickable {
    cursor: pointer;
  }
}
