.container {
  width: 100vw;
  height: 100vh;
}
.page-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 40%;
}

.head {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  :last-child {
    text-align: right;
  }
}
ul.list-of-people {
  padding-left: 0;
}

li {
  display: grid;
  width: 100%;
  align-items: center;
  padding-left: .25rem;
  margin-bottom: .25rem;
  grid-template-columns: 150px 3fr 1fr 1fr;
  grid-template-areas: "name controls timer delete";

  .name {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-area: name;
    //cursor: pointer;
    ::ng-deep.mat-form-field-infix {
      border-top-width: .2rem;
    }
    .name-field {
      height: 40px;
    }
  }
  .controls {
    grid-area: controls;
  }
  .timer {
    grid-area: timer;
  }
  .delete {
    grid-area: delete;
  }
  .clickable {
    cursor: pointer;
  }
}
