@import './app/app.theme'; //this is the only spot this can be imported!

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  height: 20rem;
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
